version: "3.9"
services:
    db:
      image: influxdb:1.8.10
      ports:
      - "8086:8086"
      environment:
      - INFLUXDB_DB=hosts_metrics
    web:
      image: grafana/grafana-oss
      ports:
      - "3003:3003"
      environment:
      - GF_SERVER_HTTP_PORT=3003
      - GF_DATABASE_HOST=influxdb:8086
      - GF_DATABASE_NAME=hosts_metrics
      pid: "host"